.card {
    width: 320px;
    min-height: 360px;
    h2 {
        font-size: 2rem;
        color: $secondary-brand-color;
        text-align: center;
    }

    p {
        font-size: 1rem;
            text-align: center;
        b {
            font-weight: bold;
            font-weight: bold;
            color: $font-color;
        }
    }
}

.card.hidden {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    cursor: pointer;
    p:nth-child(3) {
        opacity: 0;
    }
    transition: all 400ms ease-in-out;
}

.card.hidden.small {
    width: 320px;
    min-height: 300px;
    h2 {
        font-size: 1.1rem;
    }

    p {
        font-size: 0.9rem;
            text-align: center;
    }
}

@media (max-width: 1320px){
    .card.hidden.small {
        width: 100%;
        max-width: 100%;
    }
}

.card.hidden:hover {
    border: 1px solid $brand-color;
}

.card.hidden.show {
    p:nth-child(3) {
        animation: fade 0.7s ease-in-out forwards;
    }
}

.card.side {
    @include flex(flex-start, center);
    width: 420px;
    min-height: 180px;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;

    img {
        width: 80px;
        min-width: 80px;
        margin-right: 1rem;
    }
    img:nth-of-type(2) {
        width: 40px;
        min-width: 40px;
        margin-left: 1rem;
        cursor: pointer;
    }
    .text {

        h2 {
            font-size: 1.2rem;
            color: black;
            font-weight: bold;
            text-align: left;
        }

        p {
            font-size: 1rem;
            text-align: left;
        }
    }
}